<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Useless Interface" />
    <title>Useless Interface</title>
    <style>
      html, body, #root {
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        height: 100%;
      }
      * { box-sizing: border-box; }
    </style>
  </head>
  <body>
    <h1>Useless Interface</h1>
    <ul>
      <li><a href="/butterfly">Butterfly</a></li>
    </ul>
    <div id="root"></div>
    <script type="module" src="<%= js %>"></script>
  </body>
</html>
