<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Useless Interface" />
    <title>Useless Interface</title>
  </head>
  <body>
    <h1>Useless Interface</h1>
    <h2>Exhibits</h2>
    <ol>
      <li>
        <h3><a href="/butterfly">Butterfly</a></h3>
        <p>Your Macbook's broken "butterfly" keyboard, emulated in software</p>
      </li>
    </ol>
    <footer>
      <h2>Contributions</h2>
      <p>If you'd like to build something useless, contributions are welcome on <a href="https://github.com/chrisfrank/useless-interface">on GitHub</a>.</p>
    </footer>
  </body>
</html>
